.add_form {
    display: flex;
    flex-direction: column;
    padding:1%;
    align-items: center;
}

.add_form input {
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    margin: 5px;
    height: 5vh;
    padding-left: 10px;
    width: 80%;
}

.add_form button {
    height: 5vh;
    width: 50%
}