.mainBody {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin-top: 5vh;
    width: 90%;
    margin-bottom: 5vh;
}

.top {
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: #FFC09F;
    width: 100%;
    border-top-left-radius: 2vh;
    border-top-right-radius: 2vh;
    padding-bottom: 1vh;
}

.add_filter_section {
    display: flex;
    flex-direction: row;
}

.add_filter_section div {
    padding: 10px;
    flex-grow: 1;
}

.filterTag{
    display: flex;
    justify-content: flex-end;
}

.list {
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color:rgba(255,255,255,0.3);
    border-bottom-left-radius: 2vh;
    border-bottom-right-radius: 2vh;
}

